
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
html{
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    margin:0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    color:grey;;
}

a {
    text-decoration:none;
}

.flex-row{

    display:flex;
    justify-content: center;
    align-items:center;

}

.flex-col {

display:flex;
flex-direction: column;
justify-content:center;
align-items: center;
}

.flex-row-space{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.flex-row-right{
   
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#header {
    width: 100%;
    height: 10%;
    position: fixed;
    background:white;
 
   }
#nav-bar{
  width:30%;
  padding-right:30px;
}

#header-img{
    width:10%;
    justify-self: flex-start;
}

.nav-link{
    color:grey;
    width:10%;
    height:20px;
}

#home-section{
    width:100%;
    height:100vh;

}

#video-section{
    width:100%;
    height:100vh;
}

#about-section{
    width:100%;
    height:100vh;
}

@media screen and (max-width: 720px){

  

}